
:root {
	

  --backcolor: #15202B;
  --contentcolor: #192734;
  --textcolor: #ffffff;
  --bordercolor: #38444d;
  --bordercolor2: #ccc;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 15px!important;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   box-sizing: border-box;

}

body{
    margin: 0px;
    width: 100%;
	background: var(--backcolor);
}

.generalContent{
	padding: 0 8px;
}

.col-lateral{
	float: left;
}


.col-central{
    float: left;
    width: 100%;
}

.container:after, .container:before{

	content: "";
    display: table;
    clear: both;
}

.box{
	margin-top: 15px!important;
    margin-bottom: 15px!important;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-style: solid;
    border-width: 2px 2px 2px 2px;   
    border-radius: 10px;
    background-color: var(--contentcolor);
    color: var(--textcolor);
    border-color: var(--bordercolor);
}

.tweet-style{
	padding: 5px 10px 10px 20px;
    border-radius: 15px;
}

.tweet-style:hover {

     background-color: rgba(255, 255, 255, 0.05);
}

.image-s{
	border-radius: 50%;
}

.timage-s {
    float: left!important;
    margin-right: 16px!important;
}

.date-s{
	float: right!important;
	opacity: 0.70;
	margin-top: 20px;
}

.tweet-username-s:hover{
	text-decoration: underline;
}

h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 20px;
    color: var(--textcolor);
}

hr {
    border: 0;
    border-top: 1px solid #38444d;
    margin-top: 18px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.likes-s{
	float: right!important;
	margin-top:8px;
	margin-right:10px;
	opacity: 0.80;
}

@media (min-width: 801px){
    .col-lateral{
        width: 24.99999%;
    }
}

@media (max-width: 800px){
    .col-hide-small {
        display: none!important;
    }
}

@media (min-width: 801px){
    .col-central {
        width: 49.99999%;
    }
}

.content-pading{
	padding: 0 8px;
}

.divimage{
	display:inline-block;
	float:left!important;
	
}

.divcontent{
	display:inline-block;
	min-width: 87%;
}

.tcontent-s{
	margin-top: 25px;
	margin-bottom: 30px;
}

.userprofile-s{
    padding: 5px 10px 10px 20px;
    text-align: center!important;
}

.infobox-s{
	word-spacing: 10px;
	margin-top: 20px;
}

.profileTitle{
	text-transform: uppercase;
}

.button{

    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    
    margin-top: 5px;
    margin-bottom: 1px;
    margin-right: 2px;

    border-style: solid;
    border-radius: 30px;

    font-size: 14px;  

}

.button:hover {
    color: #000;
    background-color: var(--bordercolor2);
}

.search-box{
	color: var(--textcolor);
	padding: 8px 16px;
	border: 2px solid;
	border-color: var(--bordercolor);
    border-radius:20px;
	display: inline-block;
	width:78%;
}

.search-box:focus{
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid;
	border-radius:20px;
	outline: none;
}

.search-button{
	margin: 0px;
	margin-top: -2px;
	padding: 10px;
	border-radius: 0px;
    border-radius: 20px;
    color: var(--textcolor);    
    display: inline-block;
	width:21%;
	font-size: 15px; 
}

h5{
    font-weight: 400;
    margin: 15px 0;
    font-size: 16px;
    color: var(--textcolor);
}

.add-box{
	color: var(--textcolor);
	padding: 8px 16px;
	border: 2px solid;
	border-color: var(--bordercolor);
    border-radius:5px;

}

.add-box:focus{
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid;
	border-radius:5px;
	outline: none;
}

.add-button{
	margin: 0px;
	margin-top: -2px;
	padding: 10px;
	border-radius: 0px;
    border-radius: 20px;
    color: var(--textcolor);
    width:18%;
    font-size: 15px;  
}

.TT{
	margin-left: 10px;
}

.edit-button-s{
    padding: 10px;
	width: 40%;
	border-radius: 20px;
	margin-top: 10px;
	font-size: 15px; 
}

.followUser-button{
	padding: 10px;
	width: 50%;
	border-radius: 20px;
	margin-top: 10px;
	font-size: 15px; 
}

.unfollowUser-button{
	padding: 10px;
	width: 25%;
	border-radius: 20px;
	margin-top: 10px;
	font-size: 15px; 
}

.info-p{
	display:inline-block;
	width: 30%;
	text-align: left;
}

.profile-button{
	display:inline-block;
    width: 20%;
}


.editForm{
    background-color: #25384a;
    margin-top: 15px!important;
    margin-bottom: 15px!important;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-style: solid;
    border-width: 2px;   
    border-radius: 20px;
    color: var(--textcolor);
	border-color: var(--bordercolor);
}

.input-box{
    margin-bottom: 10px;
}

.input-tag{
	background-color: var(--contentcolor);
	text-align: center;
    color: var(--textcolor);
	margin-top: 10px;
	padding: 5px;
	border: 2px solid;
	border-color: var(--bordercolor);
    border-radius:20px;
	display: inline-block;
	width: 40%;
}

.input-tag:focus{
	margin-top: 11px;
	border: 1px solid;
	border-radius:20px;
	border-color: var(--bordercolor);
	outline: none;
}

.delete-account-button{

	margin-top: 20px;
	padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
}

.delete-account-button:hover{
	color: var(--textcolor);
    background-color: red;  
}

.infobox-ss{
	word-spacing: 10px;
	margin-top: 20px;
	position: relative;
	right: 11.4%;
}
